html
  head
    title= title
    link(rel='stylesheet', href='./static/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/3.0.1/fullpage.min.js") 
    script(src="./static/index.js") 
  body
    div(id="fullpage")
      section(class="section" ) one 
      section(class="section") two  
      section(class="section") three