html
  head
    title= title
    link(rel='stylesheet', href='./static/style.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.css')
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js") 
    script(src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.js") 

    script(src="./static/index.js") 
  body
    div(id="fullpage")
      section(class="section" id="section0") 
        div 사랑과 은혜교회 중등부
      section(class="section" id="section1") two  
      section(class="section" id="section2") three